<main>
    <div class="container">
        <div class="row vh-100">

            <!-- LOGO -->
            <div class="col-5 d-none d-lg-block align-self-center">
                <div class="row justify-content-center">
                    <img src="<?php echo URL_ASSETS ?>img/logo/logo-pnews-login.svg" alt="Logo Pnews">
                </div>

                <div class="row justify-content-center">
                    <img src="<?php echo URL_ASSETS ?>img/logo/mascote.svg" width="509" height="475" alt="Mascote Pnews">
                </div>
            </div>

            <!-- FORMULÁRIO -->
            <div class="col col-lg-7 cor-fundo d-flex align-items-center">
                <div class="container">

                    <div class="row mt-3 mt-sm-5 justify-content-center">
                        <h4 class="text-center col mt-sm-5 mb-sm-4"><strong class="stage-text">Insira os seus dados para continuar o cadastro</strong></h2>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-10 col-sm-8 text-center align-self-center">

                            <form id="form-cad-user" class="mb-5">

                                <!-- INÍCIO ETAPA 1 -->
                                <div id="stage-1">
                                    <input class="form-control mt-2 borda" type="text" id="nome" name="nome" placeholder="Nome">

                                    <input class="form-control mt-2 borda" type="text" id="sobrenome" name="sobrenome" placeholder="Sobrenome">

                                    <div class="row mt-2">
                                        <div class=" col-md-8 col-lg-7 col-xl-8">
                                            <input class="form-control borda cpf" type="text" id="cpf" name="cpf" placeholder="CPF">
                                        </div>

                                        <div class="mt-2 mt-md-0 col-md-4 col-lg-5 col-xl-4 dt-nascimento">
                                            <input class="form-control borda date" type="text" id="dt_nascimento" name="dt_nascimento" placeholder="Nascimento">
                                        </div>
                                    </div>

                                    <input class="form-control mt-2 borda telefone" type="text" id="telefone" name="telefone" placeholder="Telefone">

                                    <input class="form-control mt-2 borda" type="text" id="email" name="email" placeholder="E-mail">

                                    
                                    <div class="container-password">
                                        <input class="form-control mt-2 borda" type="password" id="senha" name="senha" placeholder="Senha">

                                        <i class="fa-solid fa-eye" id="icon-password"></i>
                                    </div>

                                    <input class="form-control mt-2 borda cep" type="text" id="cep" name="cep" placeholder="CEP" onblur="pesquisacep(this.value);">

                                    <input class="form-control mt-2 borda" type="text" id="rua" name="rua" placeholder="Rua">

                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <input class="form-control borda" type="text" id="bairro" name="bairro" placeholder="Bairro">
                                        </div>

                                        <div class="mt-2 mt-md-0 col-md-3 numero">
                                            <input class="form-control borda" type="text" id="numero" name="numero" placeholder="Nº">
                                        </div>

                                        <div class="mt-2 mt-md-0 col-md-3 complemento">
                                            <input class="form-control borda" type="text" id="complemento" name="complemento" placeholder="Comp.">
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col-md-7">
                                            <input class="form-control borda" type="text" id="cidade" name="cidade" placeholder="Cidade">
                                        </div>

                                        <div class="mt-2 mt-md-0 col-md-5 estado">
                                            <select class="form-control borda color-input-form" id="estado" name="estado">
                                                
                                            </select>
                                        </div>
                                    </div>

                                    <a href="<?php echo URL ?>login-controller/index" class="btn btn-outline-danger btn-lg mt-4 borda">Cancelar</a>

                                    <button id="btn-next" class="btn btn-outline-danger btn-lg mt-4 borda" type="button">Continuar</button>
                                </div>
                                <!-- FIM ETAPA 1 -->

                                <!-- INÍCIO ETAPA 2 -->
                                <div id="stage-2">
                                    <input class="form-control mt-2 borda" type="text" id="apelido_veiculo" name="apelido_veiculo" placeholder="Apelido do veículo">

                                    <input class="form-control mt-2 borda" type="text" id="fabricante_veiculo" name="fabricante_veiculo" placeholder="Fabricante do veículo">

                                    <input class="form-control mt-2 borda" type="text" id="modelo_veiculo" name="modelo_veiculo" placeholder="Modelo do veículo">

                                    <input class="form-control mt-2 borda" type="text" id="ano_veiculo" name="ano_veiculo" placeholder="Ano do veículo (XXXX)">

                                    <input class="form-control mt-2 borda pneu" type="text" id="modelo_pneu_dianteiro" name="modelo_pneu_dianteiro" placeholder="Modelo pneu dianteiro">

                                    <input class="form-control mt-2 borda pneu" type="text" id="modelo_pneu_traseiro" name="modelo_pneu_traseiro" placeholder="Modelo pneu traseiro">

                                    <input class="form-control mt-2 borda" type="text" id="fabricante_pneu" name="fabricante_pneu" placeholder="Fabricante do pneu">

                                    <input class="form-control mt-2 borda" type="text" id="ultima_troca_pneu" name="ultima_troca_pneu" placeholder="Ultima troca do pneu" onfocus="(this.type='date')" onblur="(this.value == '' ? this.type='text' : this.type='date')">

                                    <select class="form-control mt-2 borda color-input-form" id="tempo_medio_troca_pneu" name="tempo_medio_troca_pneu">
                                        <option selected value="">Tempo médio de troca</option>
                                        <option value="1 Mês">1 Mês</option>
                                        <option value="2 Meses">2 Meses</option>
                                        <option value="3 Meses">3 Meses</option>
                                        <option value="4 Meses">4 Meses</option>
                                        <option value="5 Meses">5 Meses</option>
                                        <option value="6 Meses">6 Meses</option>
                                        <option value="7 Meses">7 Meses</option>
                                        <option value="8 Meses">8 Meses</option>
                                        <option value="9 Meses">9 Meses</option>
                                        <option value="10 Meses">10 Meses</option>
                                        <option value="11 Meses">11 Meses</option>
                                        <option value="12 Meses">12 Meses</option>
                                        <option value="2 Anos">2 Anos</option>
                                        <option value="3 Anos ou mais">3 Anos ou mais</option>
                                    </select>

                                    <button id="btn-prev" class="btn btn-outline-danger btn-lg mt-4 borda" type="button">Voltar</button>

                                    <button id="btn-send-cad" class="btn btn-outline-danger btn-lg mt-4 borda" type="submit">Cadastrar</button>
                                </div>
                                <!-- FIM ETAPA 2 -->

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

<script>
    window.onload = () => {
        getStates();
    }

    // FUNCTION PEGAR ESTADOS BRASILEIROS
    async function getStates(){
        const response = await fetch(URL_ASSETS + 'json/estados-brasileiro.json');
        json = await response.json();

        html = ""
        json.map((states) => {
            html += `<option value='${states.sigla}'>${states.nome}</option>`;
        });

        html += `<option selected value=''>Estado</option>`
        document.querySelector('#estado').innerHTML = html;
    }

    const stage1 = document.querySelector('#stage-1');
    const stage2 = document.querySelector('#stage-2');

    // FUNCTION PARA PASSSAR PARA A PRÓXIMA ETAPA
    document.querySelector('#btn-next').onclick = function(e) {
        document.querySelector('.stage-text').innerHTML = "Insira os dados do seu veículo para finalizar o cadastro";
        stage1.style.display = "none"; // ESCONDER ETAPA 1
        stage2.style.display = "block"; // MOSTRAR ETAPA 2
    };

    // FUNCTION PARA RETORNAR A ETAPA ANTERIOR
    document.querySelector('#btn-prev').onclick = function(e) {
        document.querySelector('.stage-text').innerHTML = "Insira os seus dados para continuar o cadastro";
        stage1.style.display = "block"; // ESCONDER ETAPA 2
        stage2.style.display = "none"; // MOSTRAR ETAPA 1
    };

    // FUNCTION PARA ENVIAR O FORMULÁRIO
    document.querySelector('#btn-send-cad').onclick = function(e) {
        document.querySelector('#btn-send-cad').disabled = true;
        e.preventDefault();

        validate = validateCadUser();

        if(validate){
            cadUser();
        } else {
            document.querySelector('#btn-send-cad').disabled = false;
        }
        
    };
    async function cadUser() {
        const form = new FormData(document.querySelector('#form-cad-user'));

        const response = await fetch(URL + 'cad-user-controller/cad-user', {
            method: 'POST',
            Headers: {
                'Content-type': 'application/json: charset-utf-8',
            },
            body: form
        });

        json = await response.json();

        if (json.cod === 0) {
            const retornoMsg = document.querySelector('.retorno-msg');
            retornoMsg.classList.add('retorno-success');
            retornoMsg.style.display = "block";
            retornoMsg.innerHTML = json.msg;

            setTimeout(function() {
                retornoMsg.style.display = "none";
                retornoMsg.classList.remove('retorno-success');
                document.querySelector('#btn-send-cad').disabled = false;
                window.location.assign(URL + "home-Controller/index");
            }, 2000);

        } else {

            console.log(json)
            // DADOS PESSOAS
            if (json.cod === 140) {
                document.querySelector('.stage-text').innerHTML = "Insira os dados do seu veículo para finalizar o cadastro";
                stage1.style.display = "block"; // ESCONDER ETAPA 2
                stage2.style.display = "none"; // MOSTRAR ETAPA 1

                const nome = document.querySelector('#nome');
                const sobrenome = document.querySelector('#sobrenome');
                const cpf = document.querySelector('#cpf');
                const dt_nascimento = document.querySelector('#dt_nascimento');
                const telefone = document.querySelector('#telefone');
                const email = document.querySelector('#email');
                const senha = document.querySelector('#senha');

                nome.classList.add('error-input-border');
                sobrenome.classList.add('error-input-border');
                cpf.classList.add('error-input-border');
                dt_nascimento.classList.add('error-input-border');
                telefone.classList.add('error-input-border');
                email.classList.add('error-input-border');
                senha.classList.add('error-input-border');

                setTimeout(function() {
                    nome.classList.remove('error-input-border');
                    sobrenome.classList.remove('error-input-border');
                    cpf.classList.remove('error-input-border');
                    dt_nascimento.classList.remove('error-input-border');
                    telefone.classList.remove('error-input-border');
                    email.classList.remove('error-input-border');
                    senha.classList.remove('error-input-border');
                }, 5000);

            // DADOS ENDEREÇO
            } else if (json.cod === 130) {
                document.querySelector('.stage-text').innerHTML = "Insira os dados do seu veículo para finalizar o cadastro";
                stage1.style.display = "block"; // ESCONDER ETAPA 2
                stage2.style.display = "none"; // MOSTRAR ETAPA 1

                const cep = document.querySelector('#cep');
                const rua = document.querySelector('#rua');
                const bairro = document.querySelector('#bairro');
                const numero = document.querySelector('#numero');
                const complemento = document.querySelector('#complemento');
                const cidade = document.querySelector('#cidade');
                const estado = document.querySelector('#estado');

                cep.classList.add('error-input-border');
                rua.classList.add('error-input-border');
                bairro.classList.add('error-input-border');
                numero.classList.add('error-input-border');
                complemento.classList.add('error-input-border');
                cidade.classList.add('error-input-border');
                estado.classList.add('error-input-border');

                setTimeout(function() {
                    cep.classList.remove('error-input-border');
                    rua.classList.remove('error-input-border');
                    bairro.classList.remove('error-input-border');
                    numero.classList.remove('error-input-border');
                    complemento.classList.remove('error-input-border');
                    cidade.classList.remove('error-input-border');
                    estado.classList.remove('error-input-border');
                }, 5000);

            // DADOS VEÍCULO
            } else if (json.cod === 120) {

                const apelido_veiculo = document.querySelector('#apelido_veiculo');
                const fabricante_veiculo = document.querySelector('#fabricante_veiculo');
                const modelo_veiculo = document.querySelector('#modelo_veiculo');
                const ano_veiculo = document.querySelector('#ano_veiculo');


                apelido_veiculo.classList.add('error-input-border');
                fabricante_veiculo.classList.add('error-input-border');
                modelo_veiculo.classList.add('error-input-border');
                ano_veiculo.classList.add('error-input-border');


                setTimeout(function() {
                    apelido_veiculo.classList.remove('error-input-border');
                    fabricante_veiculo.classList.remove('error-input-border');
                    modelo_veiculo.classList.remove('error-input-border');
                    ano_veiculo.classList.remove('error-input-border');
                }, 5000);

            // DADOS PNEU
            } else if (json.cod === 110) {

                const modelo_pneu_dianteiro = document.querySelector('#modelo_pneu_dianteiro');
                const modelo_pneu_traseiro = document.querySelector('#modelo_pneu_traseiro');
                const fabricante_pneu = document.querySelector('#fabricante_pneu');
                const ultima_troca_pneu = document.querySelector('#ultima_troca_pneu');
                const tempo_medio_troca_pneu = document.querySelector('#tempo_medio_troca_pneu');

                modelo_pneu_dianteiro.classList.add('error-input-border');
                modelo_pneu_traseiro.classList.add('error-input-border');
                fabricante_pneu.classList.add('error-input-border');
                ultima_troca_pneu.classList.add('error-input-border');
                tempo_medio_troca_pneu.classList.add('error-input-border');

                
                setTimeout(function() {
                    modelo_pneu_dianteiro.classList.remove('error-input-border');
                    modelo_pneu_traseiro.classList.remove('error-input-border');
                    fabricante_pneu.classList.remove('error-input-border');
                    ultima_troca_pneu.classList.remove('error-input-border');
                    tempo_medio_troca_pneu.classList.remove('error-input-border');
                }, 5000);
            } 
        
            const retornoMsg = document.querySelector('.retorno-msg');
            retornoMsg.classList.add('retorno-error');
            retornoMsg.style.display = "block";
            retornoMsg.innerHTML = json.msg;

            setTimeout(function() {
                retornoMsg.style.display = "none";
                retornoMsg.classList.remove('retorno-error');
                document.querySelector('#btn-send-cad').disabled = false;
            }, 5000);
        }
    }

    // INÍCIO FUNCTION VIA CEP
    function limpa_formulário_cep() {
        // LIMPA VALORES DO FORMULÁRIO DE CEP.
        document.querySelector('#rua').value = ("");
        document.querySelector('#bairro').value = ("");
        document.querySelector('#cidade').value = ("");
        document.querySelector('#estado').value = ("");
    }

    function meu_callback(conteudo) {
        if (!("erro" in conteudo)) {
            // ATUALIZA OS CAMPOS COM OS VALORES.
            document.querySelector('#rua').value = (conteudo.logradouro);
            document.querySelector('#bairro').value = (conteudo.bairro);
            document.querySelector('#cidade').value = (conteudo.localidade);
            document.querySelector('#estado').value = (conteudo.uf);
        } else {
            // CEP NÃO ENCONTRADO.
            limpa_formulário_cep();
            alert("CEP não encontrado.");
        }
    }

    function pesquisacep(valor) {

        // NOVA VARIÁVEL "CEP" SOMENTE COM DÍGITOS.
        var cep = valor.replace(/\D/g, '');

        // VERIFICA SE CAMPO CEP POSSUI VALOR INFORMADO.
        if (cep != "") {

            // EXPRESSÃO REGULAR PARA VALIDAR O CEP.
            var validacep = /^[0-9]{8}$/;

            // VALIDA O FORMATO DO CEP.
            if (validacep.test(cep)) {

                // PREENCHE OS CAMPOS COM "..." ENQUANTO CONSULTA WEBSERVICE.
                document.querySelector('#rua').value = "...";
                document.querySelector('#bairro').value = "...";
                document.querySelector('#cidade').value = "...";
                document.querySelector('#estado').value = "...";

                // CRIA UM ELEMENTO JAVASCRIPT.
                var script = document.createElement('script');

                // SINCRONIZA COM O CALLBACK.
                script.src = 'https://viacep.com.br/ws/' + cep + '/json/?callback=meu_callback';

                // INSERE SCRIPT NO DOCUMENTO E CARREGA O CONTEÚDO.
                document.body.appendChild(script);

            } else {
                // CEP É INVÁLIDO.
                limpa_formulário_cep();
                alert("Formato de CEP inválido.");
            }
        } else {
            // CEP SEM VALOR, LIMPA FORMULÁRIO.
            limpa_formulário_cep();
        }
    };
</script>